{{define "header"}}
    <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.aapt.com.au/FrontierLink/xsd">
        <soapenv:Header/>
        <soapenv:Body>
{{end}}