{{define "ListActivitiesRequest"}}
    {{template "header"}}
    <xsd:ListActivitiesRequest>
        <xsd:provisioningCaseID>{{ .ProvisioningCaseID }}</xsd:provisioningCaseID>
    </xsd:ListActivitiesRequest>
    {{template "footer"}}
{{end}}