<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Nota Bene</title>
    <link rel='icon' type='image/png' href='/favicon.png'>
    <link rel='stylesheet' href='/base.css'>
    <link rel='stylesheet' href='/global.css'>
    <link rel='stylesheet' href='/bundle.css'>
    <!-- <link rel='stylesheet' href='/fontawesome-free-5.11.2-web/css/all.min.css'> -->
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css" integrity="sha256-x8PYmLKD83R9T/sYmJn1j3is/chhJdySyhet/JuHnfY=" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <style></style>
</head>
<body class="antialiased bg-gray-300 m-0 p-0" cz-shortcut-listen="true">
<header class="lg:px-16 px-6 bg-white flex flex-wrap items-center lg:py-0 py-2">
    <div class="flex-1 flex justify-between items-center">
        <a href="http://thenotabene.com">
            <img src="http://thenotabene.com/images/the_nota_bene.png" alt="The Nota Bene" class="h-16">
        </a>
    </div>
    <div class="hidden lg:flex lg:items-center lg:w-auto w-full svelte-o9q34u" id="menu">
        <nav>
            <ul class="lg:flex items-center justify-between text-base text-gray-700 pt-4 lg:pt-0">
                <li>
                    <a class="lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-indigo-400"
                       href="http://localhost:5000/">Home</a>
                </li>
                <li>
                    <a class="lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-indigo-400"
                       href="http://localhost:5000/products">Products</a>
                </li>
                <li>
                    <a class="lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-indigo-400"
                       href="http://localhost:5000/about">About</a>
                </li>
                <li>
                    <a href="http://localhost:5000/login"
                       class="lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-indigo-400">Login</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<div class="container mx-auto flex flex-col md:flex-row items-center my-6 md:my-12">
    <div class="flex flex-col w-full lg:w-1/2 justify-center items-start pt-6 pb-12 px-6">
        <p class="uppercase tracking-loose">Witty Tagline</p>
        <h1 class="font-bold text-3xl my-4">My App</h1>
        <p class="leading-normal mb-4">This is the HERO element. Do you want a Hero for your site. Enter your
            app's description here... The key is to find the right length. Don't want
            it to be too long, but then don't want it to be too short so that it looks
            weird between the title and button below.</p>
        <div class="py-2">
            <button class="py-2 px-4 uppercase text-sm font-medium relative overflow-hidden text-white transition  bg-primary-900  hover:bg-primary-800   hover:elevation-5 elevation-3  rounded  button ">
                Some Button
            </button>
        </div>
    </div>
</div>

</body>
</html>